<div class="nav-admin container">
	<div class="row">
		<div class="col-lg-6">
			<div class="well bs-component">
				<form class="form-horizontal">
			  <fieldset>
			    <legend>Add a student</legend>
		    	<div class="form-group">
		    		<label for="name" class="col-lg-2 control-label">Name</label>
			    	<div class="col-lg-10">
			    		<input type="text" class="form-control" placeholder="Name" ng-model="newStudent.name">
			    	</div>
		    	</div>
		    	<div class="form-group">
		    		<label for="profile" class="col-lg-2 control-label">Avatar</label>
			    	<div class="col-lg-10">
			    		<input type="text" class="form-control" placeholder="https://pbs.twimg.com/profile_images/..." ng-model="newStudent.avatar">
			    	</div>
		    	</div>
			    <div class="form-group">
			      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
			      <div class="col-lg-10">
			        <input type="text" class="form-control" placeholder="Email" ng-model="newStudent.email">
			      </div>
			    </div>
			    <div class="form-group">
		    		<label for="profile" class="col-lg-2 control-label">Cell</label>
			    	<div class="col-lg-10">
			    		<input type="tel" class="form-control" placeholder="801-867-5309" ng-model="newStudent.phone">
			    	</div>
		    	</div>
			    <div class="form-group">
			      <label for="textArea" class="col-lg-2 control-label">Notes</label>
			      <div class="col-lg-10">
			        <textarea class="form-control" rows="3" ng-model="newStudent.notes"></textarea>
			      </div>
			    </div>
			    <div class="form-group">
			      <div class="col-lg-10 col-lg-offset-2">
			        <button type="reset" class="btn btn-default">Cancel</button>
			        <button type="submit" class="btn btn-primary" ng-click="addStudent()">Submit</button>
			      </div>
			    </div>
			  </fieldset>
			</div>
			</form>
		</div>
		<div class="col-lg-6">
			<div class="well bs-component">
				<legend>Find a student</legend>
				<table class="table table-striped table-hover ">
				  <thead>
				    <tr>
				      <th>#</th>
				      <th>Column heading</th>
				      <th>Column heading</th>
				      <th>Column heading</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="student in students">
				      <td ng-bind="student.name"></td>
				      <td>Column content</td>
				      <td>Column content</td>
				      <td>Column content</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
	<p>{{newStudent}}</p>
</div>
