<div class="nav-admin container">
	<h1>admin</h1>
	<div class="row">
		<div class="col-lg-5">
			<div class="well bs-component">
				<form class="form-horizontal">
				  <fieldset>
				    <legend>Add a student</legend>
			    	<div class="form-group">
			    		<label for="name" class="col-lg-2 control-label">Name</label>
				    	<div class="col-lg-4">
				    		<input type="text" class="form-control" placeholder="First Name" ng-model="newStudent.first_name" required>
				    	</div>
				    	<div class="col-lg-6">
				    		<input type="text" class="form-control" placeholder="Last Name" ng-model="newStudent.last_name" required>
				    	</div>
			    	</div>
			    	<div class="form-group">
				      <label class="col-lg-2 control-label">Gender</label>
				      <div class="col-lg-10">
				        <div class="radio">
				          <label>
				            <input type="radio" ng-model="newStudent.gender" value="male" checked="">
				            Male
				          </label>
				        </div>
				        <div class="radio">
				          <label>
				            <input type="radio" ng-model="newStudent.gender" value="female" checked="">
				            Female
				          </label>
				        </div>
				      </div>
				    </div>
			    	<div class="form-group">
			    		<label for="profile" class="col-lg-2 control-label">Avatar</label>
				    	<div class="col-lg-10">
				    		<input type="text" class="form-control" placeholder="https://pbs.twimg.com/profile_images/..." ng-model="newStudent.avatar" required>
				    	</div>
			    	</div>
			    	<div class="form-group">
				      <label for="select" class="col-lg-2 control-label">Cohort</label>
				      <div class="col-lg-10">
				        <select class="form-control" id="select" ng-model="newStudent.cohort">
				          <option>Summer Front End 2015</option>
				          <option>Summer Full Stack 2015</option>
				        </select>
				      </div>
				    </div>
			    	<div class="form-group">
				      <label for="select" class="col-lg-2 control-label">Mentor</label>
				      <div class="col-lg-10">
				        <select class="form-control" id="select" ng-model="newStudent.mentor">
				          <option>Lia</option>
				          <option>Marc</option>
				          <option>Alex</option>
				          <option>Rachel</option>
				        </select>
				      </div>
				    </div>
			    	<div class="form-group">
			    		<label for="profile" class="col-lg-2 control-label">City</label>
				    	<div class="col-lg-10">
				    		<input type="text" class="form-control" placeholder="Salt Lake City" ng-model="newStudent.current_city" required>
				    	</div>
			    	</div>
				    <div class="form-group">
				      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
				      <div class="col-lg-10">
				        <input type="text" class="form-control" placeholder="Email" ng-model="newStudent.email" required>
				      </div>
				    </div>
				    <div class="form-group">
			    		<label for="profile" class="col-lg-2 control-label">Cell</label>
				    	<div class="col-lg-10">
				    		<input type="tel" class="form-control" placeholder="801-867-5309" ng-model="newStudent.phone" required>
				    	</div>
			    	</div>
				    <div class="form-group">
				      <label for="textArea" class="col-lg-2 control-label">Notes</label>
				      <div class="col-lg-10">
				        <textarea class="form-control" rows="3" ng-model="newStudent.notes" required></textarea>
				      </div>
				    </div>
				    <div class="form-group">
				      <div class="col-lg-10 col-lg-offset-2">
				        <button type="reset" class="btn btn-default">Cancel</button>
				        <button type="submit" class="btn btn-primary" ng-click="addStudent()">Submit</button>
				      </div>
				    </div>
				  </fieldset>
				</form>
			</div>
		</div>
		<div class="col-lg-7">
			<div class="well bs-component">
				<legend>Find a student</legend>
				<table class="table table-striped table-hover ">
				  <thead>
				    <tr>
				      <th>Name</th>
				      <th>Email</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="student in students">
				      <td ng-bind="student.first_name + ' ' + student.last_name" ></td>
				      <td><a href="mailto:{{student.email}}" ng-bind="student.email"></a></td>
				      <td>
				      	<div ng-controller="ModalCtrl">
							    <script type="text/ng-template" id="myModalContent.html">
							        <div class="modal-header">
							            <h3 class="modal-title" ng-bind="student.name"></h3>
							        </div>
							        <div class="modal-body">
						        		<form class="form-horizontal">
										  		<fieldset>
											    	<div class="form-group">
											    		<label for="name" class="col-lg-2 control-label">Name</label>
												    	<div class="col-lg-4">
												    		<input type="text" class="form-control" placeholder="First Name" ng-model="student.first_name" required>
												    	</div>
												    	<div class="col-lg-6">
												    		<input type="text" class="form-control" placeholder="Last Name" ng-model="student.last_name" required>
												    	</div>
											    	</div>
											    	<div class="form-group">
												      <label class="col-lg-2 control-label">Gender</label>
												      <div class="col-lg-10">
												        <div class="radio">
												          <label>
												            <input type="radio" ng-model="student.gender" value="male" checked="">
												            Male
												          </label>
												        </div>
												        <div class="radio">
												          <label>
												            <input type="radio" ng-model="student.gender" value="female" checked="">
												            Female
												          </label>
												        </div>
												      </div>
												    </div>
												    <div class="form-group">
												      <label for="select" class="col-lg-2 control-label">Cohort</label>
												      <div class="col-lg-10">
												        <select class="form-control" id="select" ng-model="student.cohort">
												          <option>Summer Front End 2015</option>
												          <option>Summer Full Stack 2015</option>
												        </select>
												      </div>
												    </div>
											    	<div class="form-group">
												      <label for="select" class="col-lg-2 control-label">Mentor</label>
												      <div class="col-lg-10">
												        <select class="form-control" id="select" ng-model="student.mentor">
												          <option>Lia</option>
												          <option>Marc</option>
												          <option>Alex</option>
												          <option>Rachel</option>
												        </select>
												      </div>
												    </div>
											    	<div class="form-group">
											    		<label for="profile" class="col-lg-2 control-label">Avatar</label>
												    	<div class="col-lg-10">
												    		<input type="text" class="form-control" placeholder="https://pbs.twimg.com/profile_images/..." ng-model="student.avatar" required>
												    	</div>
											    	</div>
											    	<div class="form-group">
											    		<label for="profile" class="col-lg-2 control-label">City</label>
												    	<div class="col-lg-10">
												    		<input type="text" class="form-control" placeholder="Salt Lake City" ng-model="student.current_city" required>
												    	</div>
											    	</div>
												    <div class="form-group">
												      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
												      <div class="col-lg-10">
												        <input type="text" class="form-control" placeholder="Email" ng-model="student.email" required>
												      </div>
												    </div>
												    <div class="form-group">
											    		<label for="profile" class="col-lg-2 control-label">Cell</label>
												    	<div class="col-lg-10">
												    		<input type="tel" class="form-control" placeholder="801-867-5309" ng-model="student.phone" required>
												    	</div>
											    	</div>
												    <div class="form-group">
												      <label for="textArea" class="col-lg-2 control-label">Notes</label>
												      <div class="col-lg-10">
												        <textarea class="form-control" rows="3" ng-model="student.notes" required></textarea>
												      </div>
												    </div>
												  </fieldset>
												</form>
							        </div>
							        <div class="modal-footer">
							            <button class="btn btn-success" ng-click="save()">SAVE</button>
							        </div>
							    </script>

							    <button type="button" class="btn btn-default btn-xs" ng-click="open('md', student)">EDIT</button>
							    <button type="button" class="btn btn-danger btn-xs" ng-click="deleteStudent(student)">DELETE</button>
								</div>
				      </td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>

</div>
