<div class="nav-staff container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<h1 class="title">staff</h1>
			<div class="btn-group btn-group filters">
			  <a ng-click="setOrder('current_heart.value')" class="btn btn-default" ng-class="{ 'btn-primary': ordering === 'current_heart.value', 'btn-info': ordering === '-current_heart.value' }">Health</a>
			  <a ng-click="setOrder('current_heart.logged')" class="btn btn-default" ng-class="{ 'btn-primary': ordering === 'current_heart.logged', 'btn-info': ordering === '-current_heart.logged' }">Last Updated</a>
			  <div class="btn-group">
		      <a class="btn btn-default dropdown-toggle" ng-class="{ 'btn-primary': mentor !== '' }" data-toggle="dropdown">
		        {{mentor || 'Mentor'}}
		        <span class="caret"></span>
		      </a>
		      <ul class="dropdown-menu mentor-selection">
		        <li><a ng-click="setMentor('Lia')">Lia</a></li>
		        <li><a ng-click="setMentor('Alex')">Alex</a></li>
		        <li><a ng-click="setMentor('Rachel')">Rachel</a></li>
		        <li><a ng-click="setMentor('Marc')">Marc</a></li>
		        <hr />
		        <li><a ng-click="setMentor('')">Clear</a></li>
		       </ul>
		    </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ng-repeat="student in students | orderBy: ordering | filter: filtering">
			<div class="panel" ng-class="{ 'panel-danger' : student.current_heart.value == 1, 'panel-warning': student.current_heart.value == 2, 'panel-primary': student.current_heart.value == 3, 'panel-success': student.current_heart.value > 3}">
			  <div class="panel-heading">
			    <h3 class="panel-title" ng-bind="student.full_name"></h3>
			    <span class="label label-default" ng-bind="student.mentor"></span>
			  </div>
			  <div class="panel-body">
				  <div class="row">
				    <section class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				    	<img class="profile" src="{{student.avatar}}" alt="" width="72" height="72">
				    </section>
				    <section class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
							<div ng-controller="RatingCtrl" class="rating-container">
						    <rating ng-model="student.current_heart.value" max="5" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="onLeave()" state-on="'glyphicon-heart'" state-off="'glyphicon-heart-empty'" ng-click="logRating(student)"></rating>
							</div>
							<p style="margin-bottom: 0px">Logged: {{student.current_heart.logged | date:'MMM d'}}</p>
							<div ng-controller="ReportModalCtrl">
							    <script type="text/ng-template" id="reportModal.html">
						        <div class="modal-header" style="border-bottom: 0px">
						            <div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12">
														<h1 class="title" ng-bind="student.full_name"></h1>
														<div class="btn-group btn-group filters">
														  <a ng-click="setRange(7)" class="btn btn-default" ng-class="{ 'btn-primary': range === 7 }">Week</a>
														  <a ng-click="setRange(31)" class="btn btn-default" ng-class="{ 'btn-primary': range === 31 }">Month</a>
														  <a ng-click="setRange(90)" class="btn btn-default" ng-class="{ 'btn-primary': range === 90 }">Semester</a>
														</div>
													</div>
												</div>
						        </div>
						        <div class="modal-body">
						        	<div class="row">
						        		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							        		<div class="well bs-component">
							        			<legend>Health Meter Activity</legend>
						        				<chartist class="ct-chart" chartist-data="lineData" chartist-chart-type="Line" chartist-chart-options="lineOptions" chartist-events="events"></chartist>
						        			</div>
						        		</div>
						        	</div>

					        		<div class="row">
					        			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					        				<div class="well bs-component">
														<form class="form-horizontal">
														  <fieldset>
														    <legend>Compose</legend>
														    <div class="form-group">
														      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														        <textarea class="form-control" rows="5" ng-model="newLog.body"></textarea>
														      </div>
														    </div>
														    <div class="form-group">
														      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														        <button type="reset" class="btn btn-default" ng-click="cancelLog()">Cancel</button>
														        <button type="submit" class="btn btn-primary" ng-click="addLog()">Submit</button>
														      </div>
														    </div>
														  </fieldset>
														</form>
													</div>
					        			</div>
					        		</div>
					        		<div class="row">
				        				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							        		<div class="well bs-component">
							        			<legend>Logs</legend>
							        			<div ng-repeat="log in logs | reverse">
								        			<div class="panel panel-primary">
															  <div class="panel-heading" style="padding: 5px 15px 0px 15px">
															  	<p style="display: inline-block">Logged: {{log.created | date:'MMM d h:mm'}}</p>
															  	<span class="label label-default" ng-bind="log.author"></span>
														  	</div>
															  <div class="panel-body" ng-bind="log.body"></div>
															</div>
														</div>
						        			</div>
						        		</div>
				        			</div>
						        </div>
						        <div class="modal-footer">

						        </div>
						    	</script>
								<a class="btn btn-default btn-sm btn-block" ng-click="open('lg', student)">REPORT</a>
							</div>
				    </section>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>
